/* To do list 입력 부분 */

.card-add {
  height: 150px;
  background-color: #525b76;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.card-add label {
  color: white;
  font-size: 28px;
  display: flex;
  align-items: center;
}
.card-add label:nth-child(2) {
  margin-left: 30px;
}
.card-add input {
  height: 26px;
  margin-left: 10px;
  padding-left: 5px;
}
.card-add label:nth-child(1) input {
  width: 245px;
}
.card-add label:nth-child(2) input {
  width: 495px;
}

.card-add button {
  width: 100px;
  height: 30px;
  margin-left: 30px;
  background-color: #e7e9ef;
}
.card-add button:hover {
  background-color: #434b60;
  color: white;
}

/* 카드 부분 */

.wrap {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
}
.todo-card {
  width: 316px;
  height: 140px;
  border: 3px solid #525b76;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.todo-card h3 {
  font-size: 28px;
  font-weight: bold;
}
.todo-card p {
  height: 50px;
  width: 316px;
  overflow-y: auto;
  line-height: 25px;
}

.todo-card p::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
.todo-card p::-webkit-scrollbar-thumb {
  background-color: #525b76;
}
.todo-card p::-webkit-scrollbar-track {
  background-color: #e7e9ee;
}

.card-button {
  display: inline-block;
  text-align: center;
}
.card-button button {
  width: 150px;
  height: 30px;
  font-size: 16px;
}
.card-button button:nth-child(2) {
  margin-left: 15px;
}
.card-button button:nth-child(1):hover {
  background-color: #434b60;
  color: white;
}
.card-button button:nth-child(2):hover {
  background-color: #cf5d64;
  color: white;
}
